.mcq-options-wrapper {
    margin: 15px;
}

.mcq-options-wrapper > label {
    margin-bottom: 8px;
}

.match-up-options-wrapper{
    display: flex;
    flex-direction: row;
}

.match-up-options-wrapper > div {
    margin-left: 25px;
}

.match-up-answers-column{
    padding-left: 100px;
}

.column-heading{
    color: rgba(0, 0, 0, 0.6);
}

.match-up-answers{
    display: flex;
    margin-top: 15px;
}

.match-up-answers > p {
    margin-right: 25px;
}